[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A ground up web application made primarily with HTML5, CSS, Javascript & JQuery for demonstrating and teaching students the distance vector algorithm.
[access "refs/*"]
	owner = group user/Raiyan Latif (raiyanla)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Raiyan Latif (raiyanla)
	label-Verified = -1..+1 group user/Raiyan Latif (raiyanla)
	push = group user/Raiyan Latif (raiyanla)
	read = group user/Raiyan Latif (raiyanla)
	rebase = group user/Raiyan Latif (raiyanla)
	removeReviewer = group user/Raiyan Latif (raiyanla)
	submit = group user/Raiyan Latif (raiyanla)
[access "refs/heads/*"]
	create = group user/Raiyan Latif (raiyanla)
	push = +force group user/Raiyan Latif (raiyanla)
	pushMerge = group user/Raiyan Latif (raiyanla)
	read = group user/Raiyan Latif (raiyanla)
[access "refs/tags/*"]
	push = group user/Raiyan Latif (raiyanla)
	push = +force group user/Raiyan Latif (raiyanla)
